@media only screen and (min-width: 0rem) {
  :root {
      --primary: #183b54;
      --primaryLight: #1e4b6a;
      --secondary: #1a1a1a;
      --secondaryLight: #1a1a1a;
      --headerColor: #1a1a1a;
      --bodyTextColor: #4e4b66;
      --bodyTextColorWhite: #fafbfc;
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
      --bodyFontSize: 1rem;
      --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
      --bodyFontFamily: Arial, Helvetica, sans-serif;
  }
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #000000;
}
